.usericon .MuiSvgIcon-root {
  margin-bottom: 5px;
  color: white;
  font-size: 35px !important;
}
.usericon .MuiSvgIcon-root:hover {
  color: #007bff;
}

.navp .welcome {
  display: flex;
}
.navp .welcome h4 {
  color: white;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}
